{% load static %}

<!DOCTYPE html>
<html>
    <head>
    <title>Countbook</title>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'website/main.css' %}" /a>
        <link rel="stylesheet" type="text/css" href="{% static 'website/bulma.min.css' %}" /a>
        <link rel="stylesheet" type="text/css" href="{% static 'website/font-awesome.min.css' %}" /a>
        <script src="{% static 'website/vue.js' %}"></script>
    </head>
    <body>
        <div id="root">
            <ul>
                <li v-for="op in today" v-if="op[2] == true">
                    (( op[1] )) - (( op[3] ))
                    <button v-on:click="append_record(op[0])">+</button>
                </li>
            </ul>
            <input type="text" id="append_operation" v-model="new_operation">
            <button v-on:click="append_operation()">Append</button>
        </div>
        <script>
            ws = new WebSocket('ws://' + window.location.host);
            
            let root = new Vue({
                el: '#root',
                data: {
                    today: '',
                    new_operation: ''
                },
                delimiters: ['((', '))'],
                mounted: function() {
                    ws.onmessage = (e) => {
                        response = JSON.parse(e.data);
                        if (response[0] == 'get_today') {
                            this.today = response.slice(1);
                        }
                    }
                    ws.onopen = () => ws.send(
                        JSON.stringify({
                            operation: 'get_today'
                        })
                    );
                },
                methods: {
                    append_record(id) {
                        ws.send(
                            JSON.stringify({
                                operation: 'append_record',
                                params: {
                                    id: id
                                }
                            })
                        );
                    },
                    append_operation() {
                        ws.send(
                            JSON.stringify({
                                operation: 'append_operation',
                                params: {
                                    name: this.new_operation
                                }
                            })
                        );
                        this.new_operation = '';
                    }
                }
            })
/*
                        JSON.stringify({
                            operation: "get_year",
                            params: {
                                year: "2017"
                            }
                        })

                        JSON.stringify({
                            operation: "get_month",
                            params: {
                                year: "2017",
                                month: "10"
                            }
                        })

                        JSON.stringify({
                            operation: "get_today"
                        })

                        JSON.stringify({
                            operation: "append_operation",
                            params: {
                                name: "jksghjkfg"
                            }
                        })

                        JSON.stringify({
                            operation: "add_operation",
                            params: {
                                id: "12"
                            }
                        })

                        JSON.stringify({
                            operation: "hide_operation",
                            params: {
                                id: "10"
                            }
                        })

                        JSON.stringify({
                            operation: "show_operation",
                            params: {
                                id: "10"
                            }
                        })
*/
        </script>
    </body>
</html>
