{% load static %}

<!DOCTYPE html>
<html>
    <head>
    <title>Countbook</title>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'website/main.css' %}" /a>
        <link rel="stylesheet" type="text/css" href="{% static 'website/bulma.min.css' %}" /a>
        <link rel="stylesheet" type="text/css" href="{% static 'website/font-awesome.min.css' %}" /a>
        <script src="{% static 'website/vue.js' %}"></script>
    </head>
    <body>
        <div id="root" v-text="msg">
        </div>
        <script>
            let root = new Vue({
                el: '#root',
                data: {
                    msg: '',
                    ws: null
                },
                //delimiters: ['((', '))'],
                mounted: function() {
                    this.ws = new WebSocket('ws://' + window.location.host);
                    this.ws.onmessage = (e) => this.msg = e.data;
                    this.ws.onopen = () => this.ws.send(
                        JSON.stringify({
                            operation: "get",
                            params: {
                                start: {
                                    year: "2017",
                                    month: "10",
                                    day: "08"
                                },
                                end: {
                                    year: "2017",
                                    month: "10",
                                    day: "08"
                                }
                            }
                        })
                    );
                }
            })
        </script>
    </body>
</html>
