{% load static %}

<!DOCTYPE html>
<html>
    <head>
    <title>Countbook</title>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'website/main.css' %}" /a>
        <link rel="stylesheet" type="text/css" href="{% static 'website/bulma-0.6.0/css/bulma.css' %}" /a>
        <link rel="stylesheet" href="{% static 'website/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <script src="{% static 'website/vue.js' %}"></script>
    </head>
    <body>
        <div id="root">
            <tabs>
                <tab name="Today" :selected="true">
                    <today></today>
                </tab>
                <tab name="Statistics">
                    <stats></stats>
                </tab>
            </tabs>
            <popup></popup>
        </div>
        <script src="{% static 'website/palette.min.js' %}"></script>
        <script src="{% static 'website/chart.min.js' %}"></script>
        <script src="{% static 'website/popup.js' %}"></script>
        <script src="{% static 'website/tabs.js' %}"></script>
        <script src="{% static 'website/stats_tab.js' %}"></script>
        <script src="{% static 'website/today_tab.js' %}"></script>
        <script src="{% static 'website/main.js' %}"></script>
    </body>
</html>
